.card{
    height: 40vh;
    background-color: rgb(159, 190, 171);
}

a{
    color: rgb(48, 47, 46);
    font-size: 20px;
    text-decoration: none;
}
h5{
    color: blue;
    font-size: 25px;
}

.repo{
    font-size: 20px;
}