.container-fluid{
    height: 70vh;
    border: 2px solid black;
    border-radius: 15px;
    width: 28%;
    float: left;
    margin: 2%;
}

card {
    height: 40vh;
    background-color: rgb(159, 190, 171);
}

a {
    color: rgb(48, 47, 46);
    font-size: 20px;
    text-decoration: none;
}

h5 {
    color: blue;
    font-size: 25px;
}

.repo {
    font-size: 20px;
}

input{
    background-color: rgb(28, 84, 238);
    width: 40%;
    margin-left: 40%;
}

::placeholder{
    color: white;
    font-size: 23px;
    text-align: center;
    
}