<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div class="logo">
                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968866.png"
                    width="15%" alt="">
            </div>

        </a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Enter UserName" aria-label="Search" [(ngModel)]="userName" (keyup)="searchUser()">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
